<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/addCarStyle.css">
</head>
<body>
<h1>Dodaj samochód</h1>
<form action="#" th:object="${Car}" th:action="@{/addCar}" method="POST">
    <div>
        <label>Marka</label>
        <input th:field="*{marka}" type="input" name="marka" required>
    </div>
    <div>
        <label>Model</label>
        <input th:field="*{model}" type="input" name="model" required>
    </div>
    <div>
        <label>Rok produkcji</label>
        <input th:field="*{rok_produkcji}" type="number" name="rok_produkcji" required>
    </div>
    <button type="submit">Zapisz</button>
</form>
</body>
</html>