<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Add Car</p>
<form action="#" th:object="${Car}" th:action="@{/addCar}" method="POST">
    <div>
        <label>Marka</label>
        <input th:field="*{marka}" type="input" name="marka" required>
    </div>
    <div>
        <label>Model</label>
        <input th:field="*{model}" type="input" name="marka" required>
    </div>
    <div>
        <label>Rok produkcji</label>
        <input th:field="*{rok_produkcji}" type="input" name="marka" required>
    </div>
    <button type="submit">Save</button>
</form>
</body>
</html>